body {
  background-image: url(math.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}
#container {
  max-width: 600px;
  height: auto;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #167d77;
  color: #0d4744;
  margin: auto;
  padding: 20px;
  border-radius: 13px;
}
#matrix-form {
  max-width: auto;
  margin: auto;
  padding: 15px;
  align-items: center;
  background-color: #0d4744;
  color: #167d77;
  border-radius: 10px;
}
input {
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: #167d77;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
}
input:focus {
  border: 2px solid #105955;
  outline: none;
}
button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  background-color: #167d77;
  color: #0d4744;
}
#inp-boxes1 {
  width: 100%;
  margin-top: 10px;
}
#inp-boxes2 {
  width: 100%;
  margin-top: 10px;
}
#result-box {
  width: 100%;
  margin-bottom: 20px;
}
